AZURE_STORAGE_CONNECTION_STRING="DefaultEndpointsProtocol=https;AccountName=your_account_name;AccountKey=your_account_key;EndpointSuffix=core.windows.net"
AZURE_CONTAINER_NAME="aireadi-raw"
# Optional: study identifier used in notebooks/scripts
AZURE_STUDY_ID="00b62456-0b93-4975-a992-42ba6a50ed5c"

